# --- Data Analysis ---
numpy
pandas
joblib

# --- Visualization ---
matplotlib
seaborn

# --- Machine Learning & Statistics ---
scipy
scikit-learn
statsmodels
prophet

# --- Deep Learning ---
# For BasisFormer and PatchTST
torch
torchvision
torchaudio

# --- Utilities ---
tqdm
ipykernel